.container-fluid.d-flex.justify-content-center.align-items-center {
  height: 100vh;
}
form {
  height: fit-content;
  padding: 20px;
}
.singup {
  position: absolute;
  right: 20px;
  top: 20px;
}
.icon {
  position: absolute;
  right: 10px;
  bottom: 15%;
  cursor: pointer;
}
